# Logika Dasar dalam Python

*Algoritma dan Pemrograman*

In [1]:
# Eksekusi Sintaks Python

print("Hello, Python World")

Hello, Python World

In [6]:
# Indesasi

if 5 > 2:
    print("Lima lebih dari dua")

Lima lebih dari dua

In [7]:
if 5 > 2:
    print("Lima lebih dari dua")
if 5 > 2:
     print("Lima lebih dari dua")

Lima lebih dari dua
Lima lebih dari dua

In [16]:
# Variabel

x = 4
y = "My name is Benhard"

x

4

In [17]:
print(x)
print(y)

4
My name is Benhard

In [ ]:
# Comments
print("Hello, World") # Ini adalah Comment

In [18]:
#Ini adalah
#Mata Kuliah
#Algoritma Pemrograman
print(y)

My name is Benhard

In [19]:
""""
Pembelajaran ini adalah Algoritma Pemrograman dan di Hari Senin, kita belajar komen
"""
print(y)

My name is Benhard

In [20]:
# Variable
x = 7            #x merupakan tipe integer
y = "Sally"      #y merupakan tipe string
z = 3.1          #z merupakan tipe float

print(x,y,z)

7 Sally 3.1

In [22]:
# Casting

x = str(3)
y = int(3)
z = float(3)
print(x,y,z)

3 3 3.0

In [23]:
print(x+x)

33

In [24]:
print(y+y)

6

In [25]:
print(z+z)

6.0

In [26]:
# Melihat Tipe Data
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [27]:
Adam = 7
ADAM = 8

print(Adam + ADAM)

15

In [ ]:
#Penggunaan String

x = "Adam" #Petik dua sama dengan petik sati
y = 'Adam'

In [29]:
# Many values ke Multip;e Variables

x,y,z = "Apple", "Banana", "Cherry"

print(x)
print(y)
print(z)

Apple
Banana
Cherry

In [31]:
#One Value ke Multiple Variabels
x = y = z = "Durian"
print(x)
print(y)
print(z)

Durian
Durian
Durian

In [32]:
#Unpacking Collection
#Unpack list

fruits = ["apple", "banana", "cherry"]
x,y,z = fruits

print(x)
print(y)
print(z)

apple
banana
cherry

In [33]:
#Output Variable
x = "Apple"
print(x+x)

AppleApple

In [37]:
x = "Apple"
y = 5
z = 4.0
print(y+z)

9.0

In [39]:
x = "Saya"
y = "Suka"
z = "Apel"

print(x,y,z)
print(x+y+z)

Saya Suka Apel
SayaSukaApel

In [50]:
#Global Variable
x = "Bagus"
 
def myfunc():
     print("Bahasa Indonesia Saya" + x)

myfunc()

Bahasa Indonesia SayaBagus

In [49]:
x = "Nikah"

def myfunc():
    print("Teman saya akan", x)

myfunc()

Teman saya akan Nikah

In [51]:
x = "Bagus"
 
def myfunc():
     print("Bahasa Indonesia Saya" + x)

myfunc()

print("Bahasa Inggris saya" + x)

Bahasa Indonesia SayaBagus
Bahasa Inggris sayaBagus

In [53]:
#Global Keyboard
def myfunc():
    global x
    x = "Keren Banget"

myfunc()

print("Kamu", x)

Kamu Keren Banget

In [55]:
x = "Keren"

def myfunc():
    global x
    x = "Asik Banget"
myfunc()

print("Kamu", x)

Kamu Asik Banget

In [58]:
a = 5
print(a, type(a))

b = "Hello"
print(b, type(b))

c = 2.4
print(c, type(c))

d = 1j
print(d, type(d))

5 <class 'int'>
Hello <class 'str'>
2.4 <class 'float'>
1j <class 'complex'>

In [59]:
e = ["apple","banana","cherry"]
print(e,type (e))

f = ("apple","banana","cherry")
print(f,type (f))

g = range(6)
print(g, type(g))

h = {"name" : "John", "age": 21}
print(h,type(h))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
range(0, 6) <class 'range'>
{'name': 'John', 'age': 21} <class 'dict'>

In [60]:
i = frozenset({"apple","banana","cherry"})
print(i, type(i))

j = True
print(j, type(j))

k = b"Hello"
print(k, type(k))

frozenset({'banana', 'cherry', 'apple'}) <class 'frozenset'>
True <class 'bool'>
b'Hello' <class 'bytes'>

In [61]:
l = bytearray(5)
print(l, type(1))

n = memoryview(bytes(5))
print(n, type(n))

m = None
print(n, type(n))

bytearray(b'\x00\x00\x00\x00\x00') <class 'int'>
<memory at 0x0000021A235493C0> <class 'memoryview'>
<memory at 0x0000021A235493C0> <class 'memoryview'>

In [62]:
# Konversi Tipe
x = -1 # int
y = 2.0 # float
z = 1j # complex

# Convert int to float
a = float(x)

# Convert float to int
b = int(y)

# Convert int to complex
c = complex(x)

print(a,b,c)
print(type(a), type(b), type(c))

-1.0 2 (-1+0j)
<class 'float'> <class 'int'> <class 'complex'>

In [77]:
# Random Number
import random

print(random.randrange(1,15))

12

In [79]:
r = """
Saya suka makan sushi dengan saus BBQ
"""

s = '''
Saya suka makan sushi dengan saus keju
'''

print(r)
print(s)

Saya suka makan sushi dengan saus BBQ


Saya suka makan sushi dengan saus keju

In [80]:
#Slicing
a = "123456789"
print(a[1:5])

b = "1,2,3,4,5,6,7,8,9"
print(b[1:5])

c = "Hello, Pythonnnnn"
print(c[2:6])

2345
,2,3
llo,

In [81]:
# Slice from the start
a = "123456789"
print(a[:5])

12345

In [82]:
# Slice to the end
a = "123456789"
print(a[5:])

6789

In [83]:
# Negative Indexing
a = "123456789"
print(a[-5:-2])

567

In [85]:
#Modify Strings

#Upper
a = "Hello World"
print(a.upper())

#Lower
print(a.lower())

#Remove Whitespace
b = "   Hello World   "
print(a.strip())

HELLO WORLD
hello world
Hello World

In [86]:
#Replace
print(a.replace("H","J"))

Jello World

In [88]:
#Splot String
print(a.split(","))
print(a.split("W"))

['Hello World']
['Hello ', 'orld']

In [89]:
#Format String atau f-string
age = 21
txt = f"My name is Adam, I am {age}"
print(txt)

My name is Adam, I am 21

In [90]:
price = 12
txt = f"The price of Nasi Padang is {price} thousand rupiahs"
print(txt)

The price of Nasi Padang is 12 thousand rupiahs

In [92]:
price = 12
txt = f"The price of Nasi Padang is {price:.3f} rupiahs"
print(txt)

The price of Nasi Padang is 12.000 rupiahs

In [95]:
#Escape Character menggunakan "\"

txt = "Aku dipanggil \"Adam\" oleh teman-teman"
print(txt)

Aku dipanggil "Adam" oleh teman-teman