In [1]:
import pandas as pd

# Data Kesehatan

## Data excel

In [3]:
df = pd.read_excel(r'c:\File Python\Quiz 13 Algoritma\Dinas Kesehatan.xlsx')
print (df)

            Kode                                             Elemen Data 2019  \
0           1.02                                          KESEHATAN       NaN
1       1.02.018                       Data Kinerja Dinas Kesehatan       NaN
2   1.02.018.001  Persentase Rumah Tangga yang Berperilaku Hidup...      56.1
3   1.02.018.002  Persentase Cakupan Pertolongan Persalinan di F...     99.98
4   1.02.018.003  Persentase Cakupan Kunjungan Neonatus Pertama ...     99.92
5   1.02.018.004  Persentase Cakupan Penjaringan Kesehatan Siswa...      96.1
6   1.02.018.005  Persentase Puskesmas Mampu Memberikan Layanan ...       100
7   1.02.018.006  Persentase Kecamatan yang Menyelenggarakan Kec...       100
8   1.02.018.007  Persentase Rumah Sakit Bekerja Sama dengan BPJ...      96.3
9   1.02.018.008  Persentase Fasilitas Kesehatan Tingkat Pertama...       100
10  1.02.018.009  Persentase Rumah Sakit yang Bekerja Sama denga...       100
11  1.02.018.010                           Prevelensi Ibu Hamil KEK      9.98
12  1.02.018.011  Persentase Cakupan Persalinan di Fasilitas Pel...     99.98
13  1.02.018.012  Persentase Pelayanan Pemeriksaan Kehamilan Len...     92.64
14  1.02.018.013  Persentase Cakupan Kunjungan Neonatus Pertama ...     99.92
15  1.02.018.014        Persentase Cakupan Pelayanan Kesehatan Bayi     90.77
16  1.02.018.015      Persentase Cakupan Pelayanan Kesehatan Balita     81.01
17  1.02.018.016  Persentase Puskesmas Mampu Memberikan Layanan ...       100
18  1.02.018.017  Persentase Jumlah Desa/Kelurahan yang Memiliki...       100
19  1.02.018.018  Persentase WUS yang Melakukan Deteksi Dini Ca ...       4.6
20  1.02.018.019        Persentase Keberhasilan Pengobatan HIV/AIDS       NaN
21  1.02.018.020              Persentase Keberhasilan Pengobatan TB     92.35
22  1.02.018.021                                 Persentase CFR DBD     '0,14
23  1.02.018.022  Persentase Penanggulangan Kejadian Luar Biasa ...       100
24  1.02.018.023          Persentase Universal Coverage Imunization       100
25  1.02.018.025                Persentase Balita Kurang Gizi (KEP)     11.35
26  1.02.018.029  Persentase Mutu Pelayanan Kefarmasian, Perbeka...       NaN
27  1.02.018.031  Persentase Desa dan Kelurahan Siaga Aktif deng...     55.81
28  1.02.018.035            Annual Parasite Incidence (API) Malaria     '0,00
29  1.02.018.036  Persentase Kecamatan Menyelenggarakan Kecamata...       100
30  1.02.018.040                               Total Fertility Rate       NaN

   Data 2020 Data 2021 Data 2022 Data 2023   Satuan Sifat Data Status  \
0        NaN       NaN       NaN       NaN      NaN        NaN    NaN
1        NaN       NaN       NaN       NaN      NaN        NaN    NaN
2         58      58.5      59.8     61.43        %    Tahunan      -
3      99.95     99.99     99.95     99.89        %    Tahunan      -
4      99.88     99.56     97.14     99.93        %    Tahunan      -
5      96.22     41.65     98.72      98.9        %    Tahunan      -
6        100       100       100       100        %    Tahunan      -
7        100       100       100       100        %    Tahunan      -
8       96.3      85.7     85.71     92.86        %    Tahunan      -
9        100       100       100       100        %    Tahunan      -
10       100      85.7     85.71     92.86        %    Tahunan      -
11     10.68     10.74      11.8     11.62        %    Tahunan      -
12     99.95     99.99     99.95     99.89        %    Tahunan      -
13     89.69     99.06     83.65     98.62        %    Tahunan      -
14     99.88     99.56     97.14     99.84        %    Tahunan      -
15     74.76     71.77      85.2     95.14        %    Tahunan      -
16     74.53     71.54     83.41    100.33        %    Tahunan      -
17       100       100       100       100        %    Tahunan      -
18       100       100       100       100        %    Tahunan      -
19      2.96      1.17         3     17.24        %    Tahunan      -
20       NaN       NaN       NaN        54        %    Tahunan      -
21     94.17     92.04      91.9      82.3        %    Tahunan      -
22     '0,25     '0,35     '0,90     '0,68        %    Tahunan      -
23       100       100       100       100        %    Tahunan      -
24       100       100       100       100        %    Tahunan      -
25       NaN       NaN       NaN       NaN        %    Tahunan      -
26       NaN       100       NaN       NaN        %    Tahunan      -
27     48.84     54.65     60.46     61.63        %    Tahunan      -
28     '0,00     '0,00     '0,01     '0,01  per mil    Tahunan      -
29       100       100       100       100        %    Tahunan      -
30       NaN       NaN       NaN       NaN    Angka    Tahunan      -

   Penanggung Jawab
0               NaN
1               NaN
2   Dinas Kesehatan
3   Dinas Kesehatan
4   Dinas Kesehatan
5               NaN
6   Dinas Kesehatan
7   Dinas Kesehatan
8   Dinas Kesehatan
9   Dinas Kesehatan
10  Dinas Kesehatan
11  Dinas Kesehatan
12  Dinas Kesehatan
13  Dinas Kesehatan
14  Dinas Kesehatan
15  Dinas Kesehatan
16  Dinas Kesehatan
17  Dinas Kesehatan
18  Dinas Kesehatan
19  Dinas Kesehatan
20  Dinas Kesehatan
21  Dinas Kesehatan
22  Dinas Kesehatan
23  Dinas Kesehatan
24  Dinas Kesehatan
25  Dinas Kesehatan
26  Dinas Kesehatan
27  Dinas Kesehatan
28  Dinas Kesehatan
29  Dinas Kesehatan
30  Dinas Kesehatan

## Data CSV

In [5]:
df = pd.read_csv(r'c:\File Python\Quiz 13 Algoritma\Kunjungan Rumah Sakit.csv')
print(df)

        Bulan     IGD  Keluarga Berencana fisioterapi   Jumlah
0     Januari   8 396                   8       2 221   10 625
1    Februari   7 146                   6       2 755    9 907
2       Maret   7 810                  11       3 334   11 155
3       April   8 337                  13       3 394   11 744
4         Mei   7 678                   9       4 199   11 886
5        Juni   9 271                  11       3 398   12 680
6        Juli   7 775                   8       3 112   10 895
7     Agustus     810                   1       3 015    3 826
8   September   7 965                   8       3 088   11 061
9     Oktober   8 579                   6       3 494   12 079
10   November   8 566                   2       2 940   11 508
11   Desember   8 923                   4       2 721   11 648
12     Jumlah  91 256                  87      37 671  129 014

# Data Keuangan

## Data Excel

In [7]:
df = pd.read_excel(r'c:\File Python\Quiz 13 Algoritma\Ekonomi Wilayah Dunia IMF.xlsx')
print(df)

    GDP, current prices (Billions of U.S. dollars)       1980       1981  \
0                                              NaN        NaN        NaN
1                                      Afghanistan    no data    no data
2                                          Albania      1.946      2.229
3                                          Algeria     45.957     48.156
4                                          Andorra    no data    no data
..                                             ...        ...        ...
226                       Other advanced economies    776.681    792.517
227                             Sub-Saharan Africa    320.823    339.147
228                                          World  11235.818  11529.924
229                                            NaN        NaN        NaN
230                                     Â©IMF, 2024        NaN        NaN

         1982       1983       1984       1985       1986       1987  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1     no data    no data    no data    no data    no data    no data
2       2.296      2.319       2.29      2.339      2.587      2.566
3      48.599     51.582     55.906     66.346     66.783     68.698
4     no data    no data    no data    no data    no data    no data
..        ...        ...        ...        ...        ...        ...
226   787.705    786.566    824.785    822.452   1002.695   1234.647
227   342.054    315.198    251.048    229.997    261.179    283.912
228  11313.68  11615.359  12030.448  12558.693  14798.046  17036.133
229       NaN        NaN        NaN        NaN        NaN        NaN
230       NaN        NaN        NaN        NaN        NaN        NaN

         1988  ...       2020       2021        2022        2023        2024  \
0         NaN  ...        NaN        NaN         NaN         NaN         NaN
1     no data  ...     20.136     14.278      14.501      17.329     no data
2        2.53  ...     15.192     17.984      19.083      22.822       26.13
3       56.07  ...    164.774    185.884     225.631     240.064     260.134
4     no data  ...      2.885      3.325       3.376       3.728        3.93
..        ...  ...        ...        ...         ...         ...         ...
226  1456.866  ...   7515.723   8742.162    8789.585    8897.231    9183.356
227   306.429  ...   1687.915   1900.803    2034.706    1944.358    1840.998
228  19156.24  ...  85519.462  97402.909  101409.366  105685.121  110064.915
229       NaN  ...        NaN        NaN         NaN         NaN         NaN
230       NaN  ...        NaN        NaN         NaN         NaN         NaN

           2025        2026        2027       2028        2029
0           NaN         NaN         NaN        NaN         NaN
1       no data     no data     no data    no data     no data
2        27.993      29.915      31.853     33.923      36.137
3        264.27     270.141     275.081    279.617     284.352
4         4.071       4.226       4.357      4.494       4.639
..          ...         ...         ...        ...         ...
226    9599.703   10023.639   10438.729  10868.694    11295.67
227    1895.789    2039.463    2176.224   2328.696     2481.12
228  115494.312  121325.453  127172.936  133351.77  139651.617
229         NaN         NaN         NaN        NaN         NaN
230         NaN         NaN         NaN        NaN         NaN

[231 rows x 51 columns]

## Data CSV

In [9]:
df = pd.read_csv(r'c:\File Python\Quiz 13 Algoritma\Sosial-Ekonomi Indonesia 2021.csv')
print(df)

    province     cities_reg  poorpeople_percentage  reg_gdp  life_exp  \
0       Aceh       Simeulue                  18.98    2.275    65.240
1       Aceh   Aceh Singkil                  20.36    2.425    67.355
2       Aceh   Aceh Selatan                  13.18    5.531    64.360
3       Aceh  Aceh Tenggara                  13.41    5.063    68.155
4       Aceh     Aceh Timur                  14.45   10.616    68.705
..       ...            ...                    ...      ...       ...
509    Papua         Puncak                  36.26    1.438    66.060
510    Papua        Dogiyai                  28.81    1.356    65.845
511    Papua     Intan Jaya                  41.66    1.274    65.580
512    Papua         Deiyai                  40.59    1.439    65.355
513    Papua  Kota Jayapura                  11.39   32.207    70.455

     avg_schooltime  exp_percap
0              9.48        7148
1              8.68        8776
2              8.88        8180
3              9.67        8030
4              8.21        8577
..              ...         ...
509            2.16        5412
510            4.94        5415
511            3.09        5328
512            3.25        4673
513           11.57       14937

[514 rows x 7 columns]

# Data Lain

## Data Excel

In [10]:
df = pd.read_excel(r'c:\File Python\Quiz 13 Algoritma\Rekapitulasi Daftar Pemilih Tetap (DPT) Dalam Negeri.xlsx')
print(df)

        Nama Provinsi Nama Kabupaten/Kota  Jumlah Kecamatan  \
0                 NaN                 NaN               NaN
1                 NaN                 NaN               NaN
2                ACEH        ACEH SELATAN              18.0
3                ACEH       ACEH TENGGARA              16.0
4                ACEH          ACEH TIMUR              24.0
..                ...                 ...               ...
512  PAPUA BARAT DAYA          RAJA AMPAT              24.0
513  PAPUA BARAT DAYA            TAMBRAUW              29.0
514  PAPUA BARAT DAYA             MAYBRAT              24.0
515  PAPUA BARAT DAYA         KOTA SORONG              10.0
516      JUMLAH TOTAL                 NaN            7277.0

     Jumlah Kelurahan/Desa  Jumlah TPS Total Penetapan Pemilih DPT Unnamed: 6  \
0                      NaN         NaN                   Laki-Laki  Perempuan
1                      NaN         NaN                         NaN        NaN
2                    260.0       697.0                       83690      86078
3                    385.0       726.0                       73996      76987
4                    513.0      1252.0                      147632     149264
..                     ...         ...                         ...        ...
512                  121.0       209.0                       22533      21394
513                  216.0       225.0                       11147      10645
514                  260.0       272.0                       19736      19842
515                   41.0       730.0                      106544      98963
516                83731.0    820161.0                   101467243  101589505

    Unnamed: 7
0       Jumlah
1          NaN
2       169768
3       150983
4       296896
..         ...
512      43927
513      21792
514      39578
515     205507
516  203056748

[517 rows x 8 columns]

## Data CSV

In [16]:
df = pd.read_csv(r'c:\File Python\Quiz 13 Algoritma\Marine Economy Account 2007-2022.csv')
print(df)

     year                   category                             variable  \
0    2007  Fisheries and aquaculture  Cont. to ME Wage and salary earners
1    2008  Fisheries and aquaculture  Cont. to ME Wage and salary earners
2    2009  Fisheries and aquaculture  Cont. to ME Wage and salary earners
3    2010  Fisheries and aquaculture  Cont. to ME Wage and salary earners
4    2011  Fisheries and aquaculture  Cont. to ME Wage and salary earners
..    ...                        ...                                  ...
757  2018       Total marine economy              Wage and salary earners
758  2019       Total marine economy              Wage and salary earners
759  2020       Total marine economy              Wage and salary earners
760  2021       Total marine economy              Wage and salary earners
761  2022       Total marine economy              Wage and salary earners

          units magnitude source  data_value flag  Unnamed: 8  Unnamed: 9  \
0    Proportion    Actual   LEED        42.1    F         NaN         NaN
1    Proportion    Actual   LEED        39.3    R         NaN         NaN
2    Proportion    Actual   LEED        39.8    R         NaN         NaN
3    Proportion    Actual   LEED        40.8    F         NaN         NaN
4    Proportion    Actual   LEED        39.9    F         NaN         NaN
..          ...       ...    ...         ...  ...         ...         ...
757      Number    Actual   LEED     38880.0    F         NaN         NaN
758      Number    Actual   LEED     39867.0    F         NaN         NaN
759      Number    Actual   LEED     40593.0    F         NaN         NaN
760      Number    Actual   LEED     39531.0    P         NaN         NaN
761      Number    Actual   LEED     38646.0    P         NaN         NaN

     ...  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  Unnamed: 18  \
0    ...          NaN          NaN          NaN          NaN          NaN
1    ...          NaN          NaN          NaN          NaN          NaN
2    ...          NaN          NaN          NaN          NaN          NaN
3    ...          NaN          NaN          NaN          NaN          NaN
4    ...          NaN          NaN          NaN          NaN          NaN
..   ...          ...          ...          ...          ...          ...
757  ...          NaN          NaN          NaN          NaN          NaN
758  ...          NaN          NaN          NaN          NaN          NaN
759  ...          NaN          NaN          NaN          NaN          NaN
760  ...          NaN          NaN          NaN          NaN          NaN
761  ...          NaN          NaN          NaN          NaN          NaN

     Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23
0            NaN          NaN          NaN          NaN          NaN
1            NaN          NaN          NaN          NaN          NaN
2            NaN          NaN          NaN          NaN          NaN
3            NaN          NaN          NaN          NaN          NaN
4            NaN          NaN          NaN          NaN          NaN
..           ...          ...          ...          ...          ...
757          NaN          NaN          NaN          NaN          NaN
758          NaN          NaN          NaN          NaN          NaN
759          NaN          NaN          NaN          NaN          NaN
760          NaN          NaN          NaN          NaN          NaN
761          NaN          NaN          NaN          NaN          NaN

[762 rows x 24 columns]